extends partials/layout

block content
  .ui.container

    if success
      .ui.positive.message
        p=success

    if error
      .ui.negative.message
        p=error

    h2 Your Experiments
    table.ui.blue.table
      thead
        tr
          th.four.wide Name
          th.eight.wide Description
          th.ui.one.wide.center.aligned View
          th.ui.one.wide.center.aligned Results
          th.ui.one.wide.center.aligned Invite
          th.ui.one.wide.center.aligned Delete
      tbody
        if experiments
          each experiment in experiments
            if experiment.dataValues.Users[0].UserExperiment.permission == 0
              tr
                td= experiment.dataValues.name
                td= experiment.dataValues.description
                td.ui.center.aligned
                  a(href='experiment/' + experiment.dataValues.id)
                    i.folder.icon.green
                td.ui.center.aligned
                  a(href='experiment/' + experiment.dataValues.id + '/results')
                    i.bar.chart.icon.purple
                td.ui.center.aligned
                  a(href='/experiment/' + experiment.dataValues.id + '/invite')
                    i.add.user.icon.orange
                td.ui.right.center.aligned
                  i.trash.icon.red(data-id=experiment.dataValues.id, data-name=experiment.dataValues.name, style='cursor: pointer; cursor: hand;')
      tfoot.full-width
        tr
          th(colspan=6)
            a.ui.small.primary.labeled.icon.button(href='/experiment/create')
              i.add.circle.icon
              | Create New Experiment

    h2 Others Experiments
    table.ui.teal.table
      thead
        tr
          th.four.wide Name
          th.eight.wide Description
          th.ui.one.wide.center.aligned View
          th.ui.one.wide.center.aligned Results
          th.ui.one.wide.center.aligned Invite
          th.ui.one.wide.center.aligned Delete
      tbody
        if experiments
          each experiment in experiments
            if experiment.dataValues.Users[0].UserExperiment.permission == 1
              tr
                td= experiment.dataValues.name
                td= experiment.dataValues.description
                td.ui.center.aligned
                  a(href='experiment/' + experiment.dataValues.id)
                    i.folder.icon.green
                td.ui.center.aligned
                  a(href='#')
                    i.bar.chart.icon.purple
                td.ui.center.aligned
                  a(href='/experiment/' + experiment.dataValues.id + '/invite')
                    i.add.user.icon.orange
                td.ui.right.center.aligned
                  i.trash.icon.red(data-id=experiment.dataValues.id, data-name=experiment.dataValues.name, style='cursor: pointer; cursor: hand;')

  .ui.basic.small.modal.delete
    .ui.icon.header
      i.trash.icon
      | Delete Experiment
    .content
      p Are you sure you want to remove
        span#experiment-name
        | ?
      p This will irreversibly remove the experiment along with all collaborators, invites and results.
    .actions
      .ui.red.basic.cancel.inverted.button
        i.remove.icon
        | No
      .ui.green.basic.ok.inverted.button
        i.checkmark.icon
        | Yes

  script.
    $(document).ready(function () {

      // Delete Modal
      $('i.trash.icon.red').click(function () {
        var id = $(this).data('id'), name = $(this).data('name')
        $('#experiment-name').text('  ' + name);
        $('.modal.delete').modal("setting", {
          onApprove: function () {
            $.post( "/experiment/delete", { id: id }, function(res) {
              if (res.success) location.reload();
              else alert('Something went wrong!');
            })
          }
        }).modal("show");
      });

    });