extends partials/layout-dashboard

block content
  style(type='text/css').
    body {
      background-color: #37657B;
    }

    body > .grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }

  script.
    $(document).ready(function () {
      $('.ui.form').form({
        fields: {
          firstName: {
            identifier: 'reg_firstName',
            rules: [
              {type: 'empty', prompt: 'Please enter your first name'}
            ]
          },
          lastName: {
            identifier: 'reg_lastName',
            rules: [
              {type: 'empty', prompt: 'Please enter your last name'}
            ]
          },
          email: {
            identifier: 'reg_email',
            rules: [
              {type: 'empty', prompt: 'Please enter your e-mail'},
              {type: 'email', prompt: 'Please enter a valid e-mail'}
            ]
          },
          password: {
            identifier: 'reg_password',
            rules: [
              {type: 'empty', prompt: 'Please enter your password'},
              {type: 'length[6]', prompt: 'Your password must be at least 6 characters'}
            ]
          },
          passwordRepeat: {
            identifier: 'reg_passwordv',
            rules: [
              {type: 'empty', prompt: 'Please enter your password'},
              {type: 'length[6]', prompt: 'Your password must be at least 6 characters'}
            ]
          }
        }
      });
    });

  .ui.container
    if success
      .ui.positive.message
        p=success

    if errors
      each error in errors
        .ui.negative.message
          p=error

  .ui.middle.aligned.center.aligned.grid
    .column
      form.ui.large.form(method="post" action="/register")
        .ui.stacked.segment
          h2.ui.teal.image.header
            .content
              | Register your account
          .field
            .ui.left.icon.input
              i.user.icon
              if !retryFirstName
                input(type='text', name='reg_firstName', placeholder='First Name')
              else
                input(type='text', name='reg_firstName', value=retryFirstName)
          .field
            .ui.left.icon.input
              i.user.icon
              if !retryLastName
                input(type='text', name='reg_lastName', placeholder='Last Name')
              else
                input(type='text', name='reg_lastName', value=retryLastName)
          .field
            .ui.left.icon.input
              i.mail.icon
              if !retryEmail
                input(type='text', name='reg_email', placeholder='E-mail address')
              else
                input(type='text', name='reg_email', value=retryEmail)
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='reg_password', placeholder='Password')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='reg_passwordv', placeholder='Confirm Password')
          .ui.fluid.large.teal.submit.button Register
        .ui.error.message
      .ui.message
        | Already have an account?
        a(href='/login')  Login